body{
  color: #40514E;
margin:0;
text-align: center;
font-family: verdana, sans-serif;
}
h1{
  font-size: 5.625rem;/*100% =16px*/
  margin-top:2.5% auto 0 auto ;
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
}
.top-container{
    background-color:#EAF6F6;
    position:relative;
}
.bottom-container{
  margin-top: 5%;
  background-color: #66BFBF;
  padding: 3%;
}

.bottom-cloud{
  position:absolute;
}
h2{
  line-height: 2;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  color: #11999E;
}
.top-cloud{
  margin-top:5% ;
  position:relative;
  left:15%;
  top:15%;
}
.profilepic{
  margin-top: 5%;
  height: 100px;
  width: 100px;
}
.skill-1{
  width:25%;
  float:left;
  margin:0 30px 0 0;
}
.skill-2{
  width:25%;
  float:right;
  margin-left: 30px;
}
.skill-row{
width:50%;
margin:100px auto 100px auto;
text-align: left;
line-height: 2;
}

p{

}
hr{
  border : none;
  border-top: 3px dotted grey;
  width: 5%;
  margin-top:5%;
}
.btn{
  background-color: #66BFBF;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0.5%;
  border-radius: 25px;
}
.footer-link{
  text-decoration: none;
  color:#11999E;
}
.footer-name{
  color:#EAF6F6;
}
